/* Screen Sizes */
@screen-xxxs-max: 319px;
@screen-xxs-min: 320px;
@screen-xxs-max: 479px;
@screen-xs-min: 480px;
@screen-xs-max: 767px;
@screen-sm-min: 768px;
@screen-sm-max: 991px;
@screen-md-min: 992px;
@screen-md-max: 1199px;
@screen-lg-min: 1200px;

// Default Colors
@sidebar-black: #2F3334;
@sidebar-blue: #42A5F5;
@sidebar-green: #66BB6A;
@sidebar-grey: #EBECEF;
@sidebar-purple: #7B1FA2;
@sidebar-red: #F44336;
@sidebar-white: #FAFAFA;
@sidebar-yellow: #FDD835;

.sidebar-black {
  color: @sidebar-black;
}

.sidebar-blue {
  color: @sidebar-blue;
}

.sidebar-green {
  color: @sidebar-green;
}

.sidebar-grey {
  color: @sidebar-grey;
}

.sidebar-purple {
  color: @sidebar-purple;
}

.sidebar-red {
  color: @sidebar-red;
}

.sidebar-white {
  color: @sidebar-white;
}

.sidebar-yellow {
  color: @sidebar-yellow;
}

/* Imports */
@import './cover.less';
@import './sidebar.less';

/* Vendor */
.vendor(@property, @value) {
     -moz-@{property}: @value;
      -ms-@{property}: @value;
       -o-@{property}: @value;
  -webkit-@{property}: @value;
          @{property}: @value;
}

/* General */
body {
  overflow-x: hidden;

  &.plone-toolbar-left-expanded,
  &.plone-toolbar-left-default {
    padding-left: 0 !important;
  }
}
