:root{
  --plone-toolbar-width: 0 !important;
}

#portal-sidebar {

  width: 300px;

  .plone-icon {
    vertical-align: -0.125rem;
  }

  .toggle-icon {
    transition: transform .35s ease;
    transform-origin: .5em 50%;
  }

  .sidebar-heading[aria-expanded="true"] {
    .toggle-icon { transform: rotate(90deg); }
  }

  .scrollarea {
    overflow-y: auto;
  }

  a {
    color: var(--bs-dark);
  }

}

[data-bs-theme=dark] #portal-sidebar {
  a {
    color: var(--bs-light);
  }
}
